.splat/
__pycache__/
asm/
assets/
build/
expected/
tools/ido5.3/
tools/ido7.1/

*.bin
*.ld
*.o
*.z64

.ninja_log
.splache
build.ninja
ctx.c
ctx.c.m2c
permuter_settings.toml
undefined_funcs_auto.txt
undefined_syms_auto.txt
