name: Format

on:
  push:
  pull_request_target:

jobs:
  format:
    runs-on: ubuntu-latest

    permissions:
      pull-requests: write

    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.sha || github.sha }}

      - uses: cpp-linter/cpp-linter-action@v2
        id: linter
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          style: file
          tidy-checks: ""
          files-changed-only: true
          format-review: true
          extensions: c,h
